body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Carter One", cursive;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #c97a20;
    text-shadow: 1px 1px white;
}

.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #aaa8fa,#4a5e96, #1e0366);
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #c97a20;
}

.jumbotron .btn {
    text-shadow: none;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #c97a20;
}

.breadcrumb {
    background-color: white;
}

.carousel-caption {
    background-color: rgba(0,0,0,0.5);
}

.carousel {
    border: solid #5637DD;
}